.Contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100%
}

.Contact h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1rem;
    margin: 0;
    padding: 5rem 0 2rem;
    width: 100%
}

.LastSpan {
    letter-spacing: 0;
}

.ContactContent {
    display: grid;
    margin: auto;
    width: 100%;
}

.ContactNav {
    border-top: 1px solid #4c4c4c;
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: space-around;
    list-style: none;
    margin: 1rem auto;
    padding: 2rem 3rem;
    text-align: center;
    width: 40%;
}

.ContactNav li {
    cursor: pointer;
    margin: 0 0.5rem;
}

.ContactNav li:hover {
    color: white;
}

@media (max-height: 500px) {
    .Contact {
        height: 100%;
    }
}