.Hello {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    justify-content: space-evenly;
    margin: auto;
    max-width: 800px;
    transition: all 1.5s ease-in-out;
}

.Hello img {
    align-self: flex-start;
    background: rgb(34, 34, 34);
    border-radius: 0 0 50% 0;
    height: 5rem;
    margin-bottom: 1rem;
    width: 300px;
}

.HelloText {
    align-self: flex-end;
    box-shadow: 2px 2px 0 2px rgba(255, 255, 255, 0.2);
    line-height: 2;
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: right;
    width: 300px;
}

@media (min-width: 550px) {
    .Hello {
        flex-direction: row;
        height: initial;
    }

    .HelloText {
        width: 40%;
    }
}