.AboutMe {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: auto;
    max-width: 800px;
    width: 100%
}

.AboutMe h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1rem;
    margin: 0;
    padding: 5rem 0 2rem;
    width: 100%
}

.LastSpan {
    letter-spacing: 0;
}

.AboutBody {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: 60%;
    justify-content: space-evenly;
}

.AboutBody img {
    border-radius: 50%;
    width: 40%;
}

.AboutBody p {
    line-height: 2;
    text-align: center;
    width: 300px;
}


.SocialLinks {
    bottom: 2%;
    border-top: 1px solid #4c4c4c;
    font-size: 1.5rem;
    left: 0;
    margin: 1rem auto;
    padding: 2rem 3rem;
    right: 0;
    text-align: center;
    width: 40%;
}

.SocialLinks a {
    color: #4c4c4c;
    margin: 0 0.5rem;
    text-decoration: none;
}

.SocialLinks a:hover {
    color: white;
}

@media (min-width: 550px) {
    .AboutBody {
        flex-direction: row;
        height: initial;
    }

    .AboutBody p {
        text-align: right;
        width: 40%;
    }
}

@media (max-height: 500px) {
    .AboutMe {
        height: 100%;
    }
}